.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #ccc;

  padding: 19px 40px 19px 40px;

  margin: 0px 0px 0px 10px;
  cursor: pointer;
}

.btnDiv button {
  background-color: transparent;
  border: none;

  color: #464646;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #f5687e;

  padding: 19px 25px 19px 25px;
  margin: 0px 0px 0px 10px;
}

.btnDiv2 button {
  background-color: transparent;
  border: none;

  color: #fff;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.circleDiv {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.labelDiv {
  color: #919191;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px 15px 0px 0px;
  text-align: justify;
}

.contentDiv {
  color: #464646;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.uid {
  border-radius: 10px;

  background: #15d055;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
}

.uidLabel {
  color: #464646;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
